<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplikasi Cek Cuaca</title>
    <link rel="icon" href="/img/cuaca.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>
  {{>header}}

  <div class="main-content">
    <h1>{{judul}}</h1>
    <p>Gunakan website ini untuk menemukan informasi cuaca!</p>

    <form>
      <input placeholder="Masukkan lokasi">
      <button>Cari lokasi</button>
    </form>

    <div id="hasil-cuaca">
      <p id="pesan-1"></p>
      <p id="pesan-2"></p>
    </div>
  </div>

  {{>footer}}

  <script src="/js/app.js"></script>
</body>

</html>
